.about_wrapper {
  margin:10px;
  margin-top: 30px;
  padding: 15px 20px;
  background-color: linear-gradient(135deg,rgb(238, 238, 238) 0%,rgb(169, 184, 195) 100%);
  display:flex;
  justify-content:space-between;
  border:1px solid red;
}
.about_content,.about_image{
  margin:0px 10px 10px 30px;
}
.about_heading{
    font-size: 35px;
    line-height: 40px;
    color:#02006c;
}
.about_text{
    font-size: 16px;
    margin-top:25px;
    font-family:sans-serif;
    font-weight:inherit;
    vertical-align: baseline;
}
.aboutUs__headingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutUs__heading {
  /* background-color: #e86f1c; */
  color: #e86f1c;
  padding: 6px 40px;
  border-radius: 50px;
  font-weight: 500px;
  font-size: 16px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  text-decoration: underline;
}
.aboutUs__info {
  text-align: center;
  color: #015093;
}
