.upcomingEvents__wrapper {
  padding: 15px 20px;
  background-image: url("https://img.freepik.com/free-vector/elegant-blue-smooth-wave-background-design_1017-33717.jpg?w=740&t=st=1707634398~exp=1707634998~hmac=993932dbc7d4f5867e4bd6524b7a707f2bfa034d9db46f90a010b1dc722ee6f7");
}
.upcomingEvents__headingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.upcomingEvents__heading {
  /* background-color: #e86f1c; */
  /* color: #fff; */
  padding: 6px 40px;
  border-radius: 50px;
  font-weight: 500px;
  font-size: 16px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  color: #e86f1c;
  text-decoration: underline;
}
.upcomingEvents__list {
  /* display: flex;
  gap: 20px;
  overflow-x: auto; */
  padding: 10px 0px;
}

.upcomingEvents__card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  overflow: hidden;
  border-radius: 8px;
  width: 260px;
  margin: 10px;
}
.upcomingEvents__cardImageWrapper {
  overflow: hidden;
  border-radius: 8px;
}
.upcomingEvents__cardImage {
  width: 260px;
  height: 260px;
  object-fit: cover;
  overflow: hidden;
}
.upcomingEvents__cardImage:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.upcomingEvents__cardBottomWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.upcomingEvents__name {
  text-align: center;
  color: #015093;
  font-size: 18px;
}

.upcomingEvents__registerBtn {
  align-items: center;
  background-color: #015093;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.upcomingEvents__registerBtn:hover,
.upcomingEvents__registerBtn:focus {
  background-color: #16437e;
  color: #ffffff;
}

.upcomingEvents__registerBtn:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.upcomingEvents__registerBtn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
