.user_Navbar{
    margin:0px 10px !important;
    min-width: 99% !important;
    justify-content: flex-start !important;
}
.header-layout1 .header-top:after,.header-layout1 .menu-area{
    background-color:#ff7400 !important;
}

.main-menu a:hover,.main-menu a:active {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: #ff7400 !important;
    text-transform: uppercase;
}

a{
	text-decoration:none !important;
	font-size: 14px !important;
}

.main-menu>ul>li {
    margin: 0 6px;
}

.header-button {
    margin: 0px !important;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0px;
}
.th-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #ff7400 !important;
    color: var(--white-color);
    font-family: var(--title-font);
    box-shadow: 0px 6px 16px rgba(13,94,244,0.24);
    border-radius: 5px;
}

.header-layout1 .th-btn {
    padding: 15px 15px !important;
    margin: 10px !important;
}

.Logo_image{
    height:55px !important;
    width:250px !important;
}